header {
    background-color: rgb(93, 166, 255);
    height: 100px;
    background-repeat: repeat;
}



 table, th, td{
    border: solid 1px black ; 
    border-collapse: collapse;
    padding: 10px;
 }
 .riga-blu {
    background-color: rgba(75, 100, 241, 0.989);
 }
 .riga-celeste{
    background-color: rgba(149, 165, 255, 0.989);
 }
 
 .copriright{
    text-align: center;
    font-weight: bold;
    background-color: rgb(0, 14, 164);
    color: aliceblue;
    padding: 10px;
    height: 10%;

 }